.gradientBgImage {
  width: 100%;
  height: 100%;
}
.gradientBgImage::before {
  position: absolute;
  inset: 0px;

  display: block;
  content: '';

  background: linear-gradient(
    191deg,
    rgba(13, 10, 25, 0) 42.8%,
    #0d0a19 117.17%
  );
}
